p {
    font-size: 14px;
    line-height: 150%;
}

.container1 {
    margin: 120px auto 0 auto;
    width: 80%;
    display: flex;
}

.container1 div {
    width: 40%;
}

.container1 h1 {
    font-weight: 600;
}

.container1 button {
    margin: 50px 0 0 0;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    width: 120px;
    border-radius: 8px;
    color: #ffffff;
    background: #F79824;
    border: 2px solid #F79824;
}

.container1 .educationIllustration {
    width: 400px;
}

@media(max-width:800px) {
    .container1 div {
        width: 80%;
    }
    .educationIllustration {
        display: none
    }
}


.container2 {
    margin: 120px 0 0 0;
    display: flex;
    justify-content: center;
}

.container2 div {
    width: 40%;
    text-align: center;
}

.container2 h2 {
    font-weight: 500;
}

@media(max-width:800px) {
    .container2 div {
        width: 80%;
    }
}

.container3 {
    margin: 120px 0 0 0;
    padding: 0 0 60px 0;
    display: flex;
    justify-content: center;
}

.container3 .features {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.features div {
    max-width: 300px;
    margin: 0 10px;
}

.features img {
    height: 120px;
}

.features h4 {
    font-size: 18px;
    font-weight: 500;
}

@media(max-width:1200px) {
    .educationIllustration {
        display: none;
    }
}

@media(max-width:800px) {
    .features {
        flex-direction: column;
    }
    .features div {
        margin: 20px 0;
    }
}

#blue1Landing {
    top: 100%;
    z-index: -1;
}

#yellow2Landing {
    top: 200%;
    z-index: -2;
}

