.qBtn {
    width: 80px;
    height: 80px;
    bottom: 30px;
    right: 10%;
    box-shadow: 0 10px 30px 5px #639fff9a;
    background-color: #2176FF;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
}

.qBtn__text {
    font-size: 60px;
    color: #ffffff;
    top: -65px;
    position: relative;
    animation: spin 10s linear infinite;

}

.clickedQBtn {
    width: 300px;
    height: 80px;
    bottom: 30px;
    right: 10%;
    border-radius: 15px;
    box-shadow: 0 16px 30px 5px #E5F3FF;
    background-color: #E5F3FF;
    display: flex;
    position: fixed;
    z-index: 2;
}

.clickedQBtn button {
    height: 35px;
    width: 45px;
    top: -10px;
    left: -10px;
    box-shadow: 0 10px 30px 5px #639fff9a;
    font-size: 20px;
    color: #ffffff;
    background-color: #2176FF;
    border-radius: 50%;
    border: none;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
}

.clickedQBtn button img {
    width: 15px;
    height: 15px;
    background: none;
}

.clickedQBtn p, b {
    margin: 0;
    padding: 0;
    align-self: center;
    background: none;

}

.clickaway {
    width: 120%;
    height: 100%;
    top: 0;
    left: -10%;
    position: fixed;
}

@media(max-width: 800px) {
    .qBtn {
        bottom: 80px;
    }
    .clickedQBtn {
        bottom: 80px;
    }
}