* {
  font-family: 'Inter', sans-serif;
}

.screen {
  display: flex;
  justify-content: center;
}

.modal {
  width: 120%;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -10%;
  position: absolute;
  background: #ffffff;
}

.link {
  text-decoration: none;
}

.label--file {
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  width: 120px;
  border-radius: 8px;
  color: #636363;
  background: none;
  border: 1px solid #d4d4d4;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form__file {
  display: none;
}

.form__label {
  margin: 0 0 5px 0;
  color: #202020;
  font-size: 14px;
  font-weight: 600;
}

.form__text {
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  margin: 5px 0 25px 0;
  padding: 3px 10px;
  border-radius: 8px;
  border: 2px solid #d4d4d4;
  outline: none;
}

.form__textarea {
  font-size: 14px;
  font-weight: 400;
  height: 120px;
  margin: 0 0 15px 0;
  padding: 16px 10px;
  border-radius: 8px;
  border: 2px solid #d4d4d4;
  outline: none;
  resize: none;
}

.form__text:focus, .form__textarea:focus {
  border: 2px solid #eac68c;
  transition: 0.8s;
}

.shadow--orange {
  box-shadow: 0 10px 30px 5px #e7ba73;
}

.unhover {
  animation: unhover 0.2s forwards;
}

@keyframes unhover {
  0% { position: relative; top: -4px; }
  25% { position: relative; top: -3px; }
  50% { position: relative; top: -2px; }
  75% { position: relative; top: -1px; }
  100% { position: relative; top: 0; }
}

.hover:hover {
  animation: hover 0.2s forwards;
}

@keyframes hover {
  0% { position: relative; top: 0; }
  25% { position: relative; top: -1px; }
  50% { position: relative; top: -2px; }
  75% { position: relative; top: -3px; }
  100% { position: relative; top: -4px; }
}

.background {
  width: 110%;
  left: -10%;
  position: absolute;
}

button {
  outline: none;
}

/* Form handling */

.displayErrors input:invalid {
  border-color: #ff0000;
}

/* Spin */
.spin {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}