/* Universal Styles */
nav {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    font-size: 16px;
    margin: 0 30px 0 0;
}

.reactLink {
    color: black;
    text-decoration: none;
}

.discord {
    animation: color-change 5s infinite;
    font-weight: 800;
}

@keyframes color-change {
    0% { color: #F0B354; }
    50% { color: #3A57CA; }
    100% { color: #F0B354; }
  }

/* Landing navbar */
.navbarBtn {
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    width: 120px;
    margin: 0;
    border-radius: 8px;
    cursor: pointer;
}

#signinBtn {
    margin: 0 20px 0 0;
    background: none;
    border: 2px solid #D6D6D6;
}

#signupBtn {
    color: #ffffff;
    background: #F79824;
    border: 2px solid #F79824;
}

@media(max-width:800px){
    .navbarBtn {
        width: 80px;
        height: 40px;
    }
    #signinBtn {
        margin: 0 10px 0 0;
    }
}

/* FAQ navbar */


/* Author navbar */
.navLinks a {
    color: #000000;
    text-decoration: none;
}

/* Reader navbar */

